#contact {
  height: 100%;
  left: 200%;
  padding: 0px 20px;
  display: flex;
  color: var(--clean);
  justify-content: center;
  align-items: center;
  background-color: rgb(188, 114, 162);
  animation: focusPage 0.5s forwards;
  animation-delay: 1s;
}
#contact h1 {
  color: var(--sunshine);

  font-size: 2.5em;
  font-weight: 400;
}
.contact-options {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 40%;
  border-left: 1px solid var(--clean);
}
#contact .icon {
  margin-left: 10px;
}
.contact-icons {
  color: var(--clean);
  margin-right: 10px;
  text-decoration: none;
  margin-top: 10px;
  font-size: 1.3em;
  font-weight: 400;
}

@keyframes focusPage {
  100% {
    left: 10%;
  }
}
