.contact-input {
  margin-top: 10px;
}
.contact-input input,
textarea {
  margin-top: 10px;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
.contact-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 40%;
}

.contact-form button {
  color: var(--clean);
  justify-content: center;
  border: 1px solid var(--clean);
  padding: 10px;
  width: 50%;
  margin-top: 10px;
  font-size: 1em;
  border-radius: 10px;
  transition: all 0.2s ease-in;
  background-color: transparent;
}
.contact-form button:hover {
  background-color: var(--clean);
  color: rgb(188, 114, 162);
}
